<div id="scanList" class="container">
    <ul class="list-unstyled" class="list-group">
        <li ng-repeat="scan in list.scans track by $index" class="list-group-item">
            <div class="list-group-item-text row">
                <div class="row col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{list.bestAvailableName(scan)}}</span>
                    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <span ng-show="scan.DateScanned">({{scan.DateScanned}})</span><abbr title="No date" ng-hide="scan.DateScanned">(n.d.)</abbr>
                    </span>
                </div>
                <div class="controls col-lg-1 col-md-1 col-sm-1 col-xs-1 center-vertical">
                    <a class="btn btn-lg action-link center-vertical" ng-click="list.remove(scan)"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </li>
    </ul>
    <div class="controls row center-block">
        <a class="btn btn-lg btn-primary btn-labeled pull-left" ng-click="page.prev()" ng-disabled="!page.hasPrev()">Previous</a>
        <a class="btn btn-lg btn-primary btn-labeled pull-right" ng-click="page.next()" ng-disabled="!page.hasNext()">Next</a>
    </div>
    <div class="spacer-v2"></div>
    <div class="controls">
        <button class="btn btn-toolbar" ng-click="list.batch()">Sync to RDb</button>
    </div>
</div>