<div id="scanList" class="container">
    <ul class="list-unstyled" class="list-group">
        <li ng-repeat="scan in scans" class="list-group-item">
            <div class="list-group-item-text">
                <span>
                    <span>{{scan.Upc}}</span>
                    <span ng-show="scan.datetime">({{scan.DateTime}})</span><abbr title="No date" ng-hide="scan.datetime">(n.d.)</abbr>
                </span>
                <span class="controls right">
                    <a class="btn action-link" ng-click="remove(scan)"><span class="glyphicon glyphicon-remove"></span></a>
                </span>
            </div>
        </li>
    </ul>
</div>
<div class="controls col-lg-12 col-md-12 col-sm-12">
    <button class="btn btn-primary" ng-click="batch()">Sync to RDb</button>
</div>