<h2>Result</h2>
<div>
    <div class="controls">
        <ul>
            <li ng-click="startScan()">
                (+)
            </li>
            <li ng-click="startBatch()">
                (++)
            </li>
        </ul>
    </div>
    <div class="upc-info">
        <h2>Most recent scan:</h2>
        <div id="upc">
            <span>UPC: </span><span>{{upc.Upc}}</span>
        </div>
        <div id="date">
            <span>On: </span><span>{{upc.DateTime}}</span>
        </div>
    </div>
    <div ng-show="requestSent">
        Upc {{msg}}.
    </div>
    <div>
        <h4>Product information:</h4>
        <div id="productName">
            <span>Name: </span><span>{{productInfo.itemname}}</span>
        </div>
        <div id="alias" ng-show="productInfo.alias !== productInfo.itemname && productInfo.alias !== ''">
            <span>Alias: </span><span>{{productInfo.alias}}</span>
        </div>
        <div id="productDesc" ng-show="productInfo.itemname !== productInfo.description">
            <span>Description: </span><span>{{productInfo.description}}</span>
        </div>
        <div id="price" ng-show="productInfo.avg_price !== ''">
            <span>Average Price: </span><span>{{productInfo.avg_price}}</span>
        </div>
    </div>
</div>